<div class="body-container">
    <div class="form-block">
      <div class="form-container">
          <h2>Edit a spot</h2>

          <%= render "form", spot: @spot %>


          <div class="form-link">
            <div><%= link_to "Show this spot", @spot, class:"form-link-text" %></div>
            <div><%= link_to "Back to spots", spots_path, class:"form-link-text" %></div>
          </div>
      </div>
    </div>
</div>
