<div class="spots-page">

  <div style="width: 100%; height: 600px;">
    <%= render "shared/map" %>
    <%= link_to "New spot", new_spot_path %>
    <span data-map-target="span">update here</span>
  </div>

</div>



<%= link_to "New spot", new_spot_path %>
