<%# <% if params[:stolen_bike] %>
 <%# index of cards with stolen bike events %>
<%# <%= @spots = Spots.where(category: "stolen bike") %>
<% else %>
<div class="spots-page">
  <div style="width: 100%; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div style="position: absolute; z-index: 1; top: 185px; left: 55px;">
  <%= link_to "REPORT", new_spot_path, class: "new-spot-button"%>
</div>
<%end %>
