<h1>New spot</h1>
<div data-controller=geolocalisation>
<span data-geolocalisation-target="span">d</span>
<%= render "form", spot: @spot %>

<br>
</div>


<div>
  <%= link_to "Back to spots", spots_path %>
</div>
