<div class="background">
  <div class="body-container">
      <div class="form-block">
        <div class="form-container">

          <h2>REPORT</h2>
          <div data-controller=geolocalisation>
            <span data-geolocalisation-target="span"></span>
            <%= render "form", spot: @spot %>
          </div>

          <div class="form-link">
            <%= link_to "BACK TO THE MAP", spots_path, class:"form-link-text" %>
          </div>
        </div>
      </div>
  </div>
</div>

    <%=render "shared/footer"%>
