<div class="background">
  <div class="body-container">
    <div class="form-block">
      <div class="form-container">
        <div class="spots">
          <%= render @spot %>
        </div>
        <div>
          <%= render "comments/comments" %>
          <br>
        </div>
        <div>
          <%= render "comments/new"%>
          <br>
        </div>
        <div class="form-link">
          <%= link_to "BACK TO THE MAP", spots_path, class:"form-link-text" %>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
