<div class= "newcomment">
  <ul>
    <p id="usercomment">Comments</p>
    <% @spot.comments.each do |comment| %>
    <div class= "newcomment">
    <%avatar = comment.user %>
    <li class="comment-list"> <p class= "comment-content"><%= comment.content%></p><p class= "comment-username"><%= comment.user.username %></p>
    </li>
    </div>
    <% end %>
  </ul>
</div>
