<div class="newcomment">
  <div>
    <%= simple_form_for [@spot, @user, @comment] do |f| %>
      <div><%= f.input_field :content, placeholder: 'write your comment here', class: "commentbox"%></div>
      <div class= "submitbutton"><%= f.submit value="SUBMIT", class: "submit-text" %></div>
    <% end %>
  </div>
</div>
