.background {
  background: linear-gradient(#ffdcc4, #dbaeff);
  padding-top: 20px;
  padding-bottom: 50px;
}

.newcomment {

  font-family: "Inter", sans-serif;
  text-decoration: none !important;
}

.comment-content {
  font-weight: 600;
  margin-top: 5px;
  border-top: 0.5px dotted black;
}

.comment-username {
  display: flex;
  justify-content: flex-end;
  font-weight: 200;
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 10px;

}

.comment-list {
  text-decoration: none !important;
  list-style: none;
  margin-left: -30px;
}



.submit-text {
  font-family: "Inter", sans-serif;
  width: 80%;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
  3px 3px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
  font-weight: 800;
}

.submit-text:hover {
  background-color: rgb(101, 155, 255);
}


.commentbutton {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
  3px 3px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
  text-align: center;
}

.commentbox {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
  3px 3px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
  text-align: center;
  border-top: 1px solid black;
}

#usercomment {
  font-weight: 800;
  font-size: 18px;
  margin-top: 20px;
  margin-left: -30px;
}
