@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.spots-page {
  background-color: white;
}

.new-spot {
  margin-bottom: 300px;
}

.new-spot-button {
  text-decoration: none;
  color: #000000 !important;
  padding: 0.5em 1em;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
  3px 3px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);;
  font-weight: 900;
  font-style: oblique;
  margin-bottom: 15px;
}

.new-spot-button:hover {
  background-color: rgb(101, 155, 255);
}

#report {
  margin-bottom: 10vh;
}


.spot-title {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-style: bold;
  font-size: 18px;
}

.spot-container {

  border-bottom: solid 1px #000000;
}
