.stolen-bike-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 30px;
}

.stolen-bike-cards {
  width: 370px;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 15px;
  // border: solid black 1px;
  // box-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
  // 3px 3px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);

}

.stolenbikes-title {
  text-align: center;
  font-size: 28px;
  font-style: oblique;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  margin-top: 20px;
  text-shadow: 0.3vw 0.3vw rgba(255, 255, 255, 0.750), 0.6vw 0.6vw rgba(255, 255, 255, 0.500), 0.9vw 0.9vw rgba(255, 255, 255, 0.250);

}

.stolen-link {
  text-decoration: none !important;
  color: black !important;
  font-weight: 500;
  font-size: 0.75em;
  margin-right: 10px;
  margin-top: 30px;
}

.stolen-link:hover {
  color: rgb(101, 155, 255) !important;
}

.stolen-bike-text {
  margin-bottom: 20px;
}

.photo-fit-card {
  text-align: center;
  width: 270px;
  margin-bottom: 20px;
  height: auto;
}

.photo-fit-card-2 {
  text-align: center;
  width: 340px;
  margin-bottom: 20px;
  height: auto;
}

.background {
  background: linear-gradient(#ffdcc4, #dbaeff);
  padding-top: 20px;
  padding-bottom: 50px;
}

.backtomap {
  margin-bottom: 40px !important;
  padding-bottom: 40px !important;
  text-align: center !important;
}

.backtomap-text {
  text-decoration: none !important;
  color:  black !important;
  font-weight: 900 !important;
  font-size: 24px !important;
}

.backtomap-text:hover {
  text-decoration: none !important;
  color:  rgb(101, 155, 255) !important;

}

.text-margin {
  margin-bottom: 15px;
  margin-top: -15px;
  font-weight: bolder;
}
