.stolen-bike-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 20px;

}

.inside-card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 350px;
  height: 150px;
  word-wrap: break-word;

}

.inside-card-display:hover {
  filter: grayscale(0);
}

.left {
  max-height: 140px;
  max-width: 150px;
}

.right {
  max-height: 140px;
  max-width: 150px;
}

.stolen-bike-cards {
  display: inline-block;
  justify-content: space-around;
  border: solid black 1px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
  3px 3px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
  margin: 20px;
  padding: 15px;

  // border: solid black 1px;
  // box-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
  // 3px 3px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);

}
.stolen-bike-cards:hover{
  transform: translate3D(0,-1px,0) scale(1.10);
}

a{
  text-decoration: none;
  color: black !important;

}
.stolenbikes-title {
  text-align: center;
  font-size: 28px;
  font-style: oblique;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0.3vw 0.3vw rgba(255, 255, 255, 0.750), 0.6vw 0.6vw rgba(255, 255, 255, 0.500), 0.9vw 0.9vw rgba(255, 255, 255, 0.250);

}

.stolen-link {
  text-decoration: none !important;
  color: black !important;
  font-weight: 500;
  font-size: 0.75em;
  margin-right: 10px;
  margin-top: 30px;
}

.stolen-link:hover {
  color: rgb(101, 155, 255) !important;
}

.photo-fit-card {
text-align: center;
width: 270px;
}

.photo-fit-card-2 {
  max-height: 140px;
  max-width: 150px;

}

.background {
  background: linear-gradient(#B9EFFD, #ffffff);
  padding-top: 20px;
}

.backtomap {
  margin-bottom: 40px !important;
  text-align: center !important;
}

.backtomap-text {
  text-decoration: none !important;
  color:  black !important;
  font-weight: 900 !important;
  font-size: 24px !important;
}

.backtomap-text:hover {
  text-decoration: none !important;
  color:  rgb(101, 155, 255) !important;
}

.text-margin {
  margin-bottom: 5px;
  margin-top: -20px;
  font-weight: bolder;
}

.photo-position {
  text-align: center;
  margin-bottom: 40px;
  width: 270px;
}

.stolen-bike-text {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}
