
    <div class="about-container">
      <div class="about">

  <h3 id="aboutus">ABOUT US</h3>
  <div class="about-text">
  <p> At <strong>ChillWheel</strong>, we love and care about cycling!
<p>Our mission is to help improve cyclists' safety. We use the power of communities to mark the danger spots in your local area.</p>
<p>Cycling is a great activity. At <strong>ChillWheel</strong>, we don't want to accept the many preventable accidents, including fatal, of cyclists every year. According to the US National Center for Health Statistics mortality data, there were 1,260 bicyclist fatalities in 2020. Second plague that havocs the cycling community is bike theft, over 26,500 bikes stolen in 2020 in Belgium alone.</p>
 <p><strong>ChillWheel</strong> allows cyclists to highlight dangerous spots and make them visible to the community and authorities. This is a powerful tool to identify spots that prevent more people to cycle.</p>
<p>Thank you for your activity. We wish you a <strong>ChillWheel</strong>'ing.</p>
</div>
</div>
</div>

    <div class="footer">
      <div class="footer-content">
        <ul class="footer-list-left">
          <%date = Date.today%>
          <li class="footer-text">©<%= date.year  %>, ChillWheel</li>
          <li><%= link_to "About", "#", class: "footer-link" %></li>
          <li><%= link_to "Privacy", "https://ec.europa.eu/info/law/law-topic/data-protection_en", target: "_blank", class: "footer-link" %></li>
          <li><%= link_to "Terms",  "https://www.commissioner.brussels/en/i-am-an-expat/housing/82-housing/104-signing-a-lease", target: "_blank", class: "footer-link" %></li>
        </ul>
      </div>
    </div>
