
    <div class="form-block">
      <div class="form-container">

  <h3 id="aboutus">ABOUT US</h3>
  <div class="about-text">
  <p> Do you know how many preventable deaths of cyclists happen per year?
  According to the US National Center for Health Statistics mortality data, there were 1,260 bicyclist fatalities in 2020.
  Unfortunatly, the number of fatalities increased every year..</p>

  <p>Chill'Wheel allows cyclists to highlight dangerous spots and make them visible to the community and authorities.</p>
  <p>In addition, if your beloved bike get stolen, informations about the bike and theft location can be shared to the Chill'Wheel's community.</p>

  <p>Chill'Wheel's mission is to provide tools to the rider's community in aim to support a comfortable cyclist's life !</p>
</div>
</div>
</div>

    <div class="footer">
      <div class="footer-content">
        <ul class="footer-list-left">
          <%date = Date.today%>
          <li class="footer-text">©<%= date.year  %>, ChillWheel</li>
          <li><%= link_to "About", "#", class: "footer-link" %></li>
          <li><%= link_to "Privacy", "https://ec.europa.eu/info/law/law-topic/data-protection_en", target: "_blank", class: "footer-link" %></li>
          <li><%= link_to "Terms",  "https://www.commissioner.brussels/en/i-am-an-expat/housing/82-housing/104-signing-a-lease", target: "_blank", class: "footer-link" %></li>
        </ul>
      </div>
    </div>
