
<div class="container">
  <%# <a href="" class="signup-button"><p class="signup-text">SIGN UP</p></a> %>
  <%= link_to "SIGN UP", new_user_registration_path, class:"signup-button", id:"signup-text" %>
  <p id="privacy-text">Your privacy is safe with us, read more <a href="#", id="terms-text">HERE</a>.</p>
</div>
