
      <h1>PROFILE</h1>
            <%= cl_image_tag current_user.photo.key, height: 250, width: 250, crop: :fill %>
            <p><%= current_user.username %></p>
            <p><%= current_user.email %></p>
            <%= link_to "Edit profile",  edit_user_registration_path %>

  
