.spot-near{
    position: absolute;
    z-index: 11;
    right: 0;
    width:200px;
    height: 390px;
    background: white;
    transform: translateX(260px);
    transition: all 0.5s ease-in-out;
    padding: 0.2em 0.2em;
    box-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 3px 3px black, -1px -1px black, 1px -1px black, -1px 1px black;
    font-weight: 600;
    font-size: 1rem;
    font-style: oblique;
    overflow: scroll;
    text-overflow: scroll;
    font-size: 14px;
    a {
        text-decoration: none !important;
        color: #000000 !important;

    }
    a:hover{
        color: rgb(101, 155, 255) !important;
    }
    .open-close{
        transition: all 0.5s ease;
    }
    .spot-near-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 15px;
    }

}

.active {
    transform: translateX(0);
}

.spot-location {
  font-weight: 300;
  font-style: normal;
}
