.spots-card{
    position:fixed;
    z-index: 9999;
    width: 200px;
    height: 200px;
    top: 185px;
    right: 0px;
    position: absolute;
}

.spot-box {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
  3px 3px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
}
